<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" th:href="@{/css/homepage.css}" />
    <script src="https://kit.fontawesome.com/38ea0ae7ae.js" crossorigin="anonymous"></script>
</head>
<body>
<section id="hero">
    <nav class="navigation">
        <a href="#" class="logo"> <span>Medical</span>Hub</a>
        <ul class="menu">
            <li><a href="/" th:text="#{nav.home}"></a></li>
            <li><a href="#our_story" th:text="#{nav.about}"></a></li>
        </ul>
    </nav>

    <div class="hero-content" style="text-align: center; padding: 100px 20px;">
        <h1 style="font-size: 50px;">404</h1>
        <h2 th:text="#{error.404}"></h2>
        <p th:text="#{error.message}"></p>
        <a href="/" class="hero-text-btns-left">
            <i class="fa-solid fa-home"></i>
            <span th:text="#{error.back_home}"></span>
        </a>
    </div>
</section>
</body>
</html>
