<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title> //đây là file test khi chưa có giao diện
</head>
<body>
<h1>Sign Up</h1>
<form action="/auth/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Register</button>
</form>
<a href="/login">Already have an account? Sign in</a>
</body>
</html>
